@model IEnumerable<PeopleReport.Wrappers.PersonPointsWrapper>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThirdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
    </tr>
}

</table>

<table class="table is-bordered is-hoverable is-narrow">
    <tr>
        <th>Сотрудник</th>
        <th>Должность</th>
        @foreach(var week in Model.ToList()[0].Points)
        {
            <th>@week.Date.ToString("dd-MM-yyyy")</th>
        }
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td><span class="is-italic is-size-4">@item.FirstName @item.SecondName</span></td>
            <td>@item.Job</td>

            <td><span class="is-size-3">@item.Points[0].Value</span></td>

            @for(var i = 1; i< item.Points.Count(); i++)
            {
            <td>
                <span class="is-size-3">@item.Points[i].Value</span>
                @if (item.Points[i].Value > item.Points[i - 1].Value)
                {
                    <span class="icon has-text-success">
                        <i class="fas fa-angle-double-up"></i>
                    </span>
                }
                else
                {
                    <span class="icon has-text-danger">
                        <i class="fas fa-angle-double-down"></i>
                    </span>
                }
                <span class="is-size-6">@item.Points[i].Gap.ToString("p")</span>
            </td>
            }
        </tr>
    }
</table>
